body {
  background-image: url(../images/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'VT323', monospace;
  color: #F3F3F3;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.cartao {
  background: rgba(7, 13, 18, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(7, 13, 18, 0.01);
  width: 370px;
  border: 2px solid #4bdff1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 60px #4bdff1;
}

.cartao .minhas-informacoes {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cartao .minhas-informacoes img {
  border-radius: 50%;
  border: 4px solid #4bdff1;
  width: 100px;
  height: 100px;
}

.cartao .minhas-informacoes .nome {
  font-size: 26px;
  font-family: 'Signika Negative', monospace;
}

.cartao .minhas-informacoes .cargo {
  font-size: 20px;
  color: #B8BBC5;
}

.cartao .conteudo {
  background-color;
  margin-top: 15px;
}

.cartao .abas {
  display: flex;
}

.cartao .abas .aba {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
  width: 39px;
}

.cartao .abas .aba.selecionado {
  background-color: #262626;
}

.cartao .informacoes-abas {
  background-color: #262626;
}

.cartao .abas .aba:hover {
  background: #414141;
}

.informacoes-abas .informacao {
  min-height:: 260px;
  padding: 15px;
  display: none;
}

.informacoes-abas .informacao.selecionado {
  display: block;
}

.informacoes-abas .sub-titulo {
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
}

.informacoes-abas .descricao {
  font-size: 20px;
  max-height: 180px;
  overflow-y: auto;
  padding-right: 15px;
}

.informacoes-abas .descricao span {
  color: #ff20f4;
}

.informacoes-abas .descricao a {
  color: #ff20f4;
}

.informacoes-abas .descricao a:hover {
  color: #4bdff1;
  transition: color 0.3s ease-in-out;
}

.meus-projetos {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  max-height: 180px;
  overflow-y: auto;
}

.meus-projetos li a {
  width: 250px;
  color: #F3F3F3;
  padding: 11.7px;
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.meus-projetos .projeto {
  background-color: #00444e;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.meus-projetos .projeto:hover {
  background-color: #32c4d5;
}

.meus-projetos .projeto img {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: 83%;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  max-height: 180px;
  overflow-y: auto;
}

.redes-sociais li a {
  width: 250px;
  display: block;
  color: #F3F3F3;
  text-align: center;
  padding: 9.2px;
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.redes-sociais .curriculo {
  background-color: #005c3f;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23.8%;
}

.redes-sociais .curriculo:hover {
  background-color: #06C185;
}

.redes-sociais .curriculo img {
  width: 25px;
  height: 25px;
}

.redes-sociais .linkedin {
  background-color: #003c5a;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25.7%;
}

.redes-sociais .linkedin:hover {
  background-color: #268ec3;
}

.redes-sociais .linkedin img {
  width: 25px;
  height: 25px;
}

.redes-sociais .github {
  background-color: #3e3e3e;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 28.9%;
}

.redes-sociais .github:hover {
  background-color: #8d8d8d;
}

.redes-sociais .github img {
  width: 25px;
  height: 25px;
}

.redes-sociais .instagram {
  background-color: #6c205f;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23.8%;
}

.redes-sociais .instagram:hover {
  background-color: #ee3acf;
}

.redes-sociais .instagram img {
  width: 25px;
  height: 25px;
}

/**body .audio  {
  display: flex;
  justify-content: center;
  border: 5px solid #262626;
}

audio::-webkit-media-controls-timeline { 
  display:flex;
}

audio::-webkit-media-controls-panel {
  background-color: #262626;
  
}

.audio {
  position: fixed;
  bottom: 0;
  right: 0;
}**/

